<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>About</strong></h1>
        <p class="text-secondary">A page of the team members</p>
        <div class="card">
            <div class="card-body">
                <img src="{{ url_for('static', filename='assets/python.jpeg') }}" alt="Python Development" style="float:left;">
                <h5 class="card-title">Someone</h5>
                <p class="card-text">
                    <ol>
                        <li>number 1</li>
                        <li>number 2</li>
                    </ol>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <img src="{{ url_for('static', filename='assets/python.jpeg') }}" alt="Python Development" style="float:left;">
                <h5 class="card-title">someone</h5>
                <p class="card-text">
                    <ol>
                        <li>hq</li>
                        <li>qe</li>
                    </ol>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <img src="{{ url_for('static', filename='assets/python.jpeg') }}" alt="Python Development" style="float:left;">
                <h5 class="card-title">someone</h5>
                <p class="card-text">
                    <dl>
                        <dt>qw</dt>
                        <dd>your mom is obese</dd>
                    </dl>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <img src="{{ url_for('static', filename='assets/python.jpeg') }}" alt="Python Development" style="float:left;">
                <h5 class="card-title">some</h5>
                <p class="card-text">
                    <ol>
                        <li>asdf</li>
                        <li>qwe</li>
                    </ol>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="{{ url_for('static', filename='assets/python.jpeg') }}" alt="Python Development" height="375">
                        <h5 class="card-title">as</h5>
                        <p class="card-text">
                            <ol>
                                <li>a</li>
                                <li>b</li>
                            </ol>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="{{ url_for('static', filename='assets/python.jpeg') }}" alt="Python Development" height="375">
                        <h5 class="card-title">as</h5>
                        <p class="card-text">
                            <ol>
                                <li>a</li>
                                <li>b</li>
                            </ol>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="{{ url_for('static', filename='assets/python.jpeg') }}" alt="Python Development" height="375">
                        <h5 class="card-title">as</h5>
                        <p class="card-text">
                            <ol>
                                <li>a</li>
                                <li>b</li>
                            </ol>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="{{ url_for('static', filename='assets/python.jpeg') }}" alt="Python Development" height="375">
                        <h5 class="card-title">as</h5>
                        <p class="card-text">
                            <ol>
                                <li>a</li>
                                <li>b</li>
                            </ol>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
